/*
    Brendon So
    Copyright 2024
    Umass Lowell
    email: Brendon_So@student.uml.edu
*/

/* Basic Error Message Styling */
/* style.css */
.error {
    font-size:11px;
    padding:5px;
    color:red;
    margin-left:10px;
}

body {
    background-color: white;
}

.main {
    width: 500px;
    height: 311px;
    border: 5px solid dimgray;
    background-color: dimgray;
    border-radius: 25px;
    padding: 25px;
    margin: 0px auto;
    margin-bottom: 25px;
    overflow: visible;
}

.draw {
    width: 333px;
    height: 333px;
    border: 5px solid dimgray;
    background-color: dimgray;
    border-radius: 25px;
    padding: 25px;
    margin: 0px auto;
    margin-bottom: 25px;
    overflow: scroll;
}

/*w3schools **form*/
label {
    font-weight: bold;
    margin-left: 15px;
    color: black;
    padding: 100px;
}

input[type=text] {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=submit] {
  margin-left:130px;
}

p {
    text-align:center;
    font-weight:bold;
    font-size: 30px;
}